@page "/login"

<TeamsApplication>
    <ApplicationTemplate Context="facade">
        <LoginDialogHandler Context="@facade?.Context">
            <p>
                Processing authentication for @(facade?.Context?.LoginHint)...
            </p>
        </LoginDialogHandler>
    </ApplicationTemplate>
</TeamsApplication>
