@page "/login"

<TeamsApplication>
    <ApplicationTemplate Context="ctx">
        <LoginDialogHandler Context="@ctx?.Context">
            <p>
                Processing authentication for @(ctx?.Context?.LoginHint)...
            </p>
        </LoginDialogHandler>
    </ApplicationTemplate>
</TeamsApplication>
