@page "/personal"
@code {
    TeamsApplication app;
}
<TeamsApplication @ref="this.app" RequireAuthentication="true">
    <SignInTemplate Context="ctx">
        <p>We need you to log in before you can use this application. Click the button below to do so.</p>
        <button @onclick="async () => { await this.app.SignInAsync(); }">Log in as @ctx?.Context?.LoginHint</button>
    </SignInTemplate>
    <ApplicationTemplate Context="ctx">

        <h3>Personal Page (Server)</h3>

        <ContextViewer Context="ctx?.Context"></ContextViewer>

        <p>
            Token expires (UTC): @ctx?.TokenCache?.ExpireUtc
        </p>
        <p>
            <button @onclick="async () => { await this.app.SignOutAsync(); }">Sign out</button>
        </p>
    </ApplicationTemplate>
</TeamsApplication>
