@page "/personal"
@code {
    TeamsApplication app;
    string status = "N/A";
}
<TeamsApplication @ref="this.app" Initialized='() => { this.status = "Initialized!"; }' />

<h3>Personal Page (Server)</h3>
<p>
    Status: @this.status
</p>
