@page "/personal"
@code {
    TeamsApplication app;
}
<TeamsApplication @ref="this.app" RequireAuthentication="true">
    <ApplicationTemplate Context="ctx">
        <h3>Personal Page (Server)</h3>

        <ContextViewer Context="ctx?.Context"></ContextViewer>

        <p>
            Token expires (UTC): @ctx?.TokenCache?.ExpireUtc
        </p>
        <p>
            <button @onclick="async () => { await this.app.SignOutAsync(); }">Sign out</button>
        </p>
    </ApplicationTemplate>
</TeamsApplication>
