@page "/login"

<TeamsApplication>
    <ApplicationTemplate>
        <LoginDialogHandler Context="@context?.Context">
            <p>
                Processing authentication for @(context?.Context?.LoginHint)...
            </p>
        </LoginDialogHandler>
    </ApplicationTemplate>
</TeamsApplication>
