@page "/personal"
@code {
    TeamsApplication app;

}

<TeamsApplication @ref="this.app">
    <ApplicationTemplate Context="facade">
        <h3>Personal Page (WASM)</h3>

        <ContextViewer Context="facade?.Context"></ContextViewer>
    </ApplicationTemplate>
</TeamsApplication>


