@if (string.IsNullOrEmpty(this.ErrorCode))
{
    @if (null != this.ChildContent)
    {
        @this.ChildContent
    }
    else
    {
        <p>Processing authentication...</p>
    }
}
else
{
    <p>
        <span>@this.ErrorCode</span><span> : </span><span>@this.ErrorDescription</span>
    </p>
    @if (!string.IsNullOrEmpty(this.ErrorUrl))
    {
        <p>
            <a href="@this.ErrorUrl" target="_blank">Read more...</a>
        </p>
    }

}
