
@if (this.ShowAuthentication)
{
    @if(null != this.SignInTemplate)
    {
        @this.SignInTemplate(this.ApplicationContext);
    }
    else
    {
        string loginText = this?.ApplicationContext?.Context?.LoginHint?.Length > 0 ? $"Log in as {this.ApplicationContext.Context.LoginHint}" : "Log in";

        <p>This application requires that you log in. Click the button below to start the sign in process.</p>
        <button @onclick="async () => { await this.SignInAsync(); }">@loginText</button>
    }
}
else if (null != this.ApplicationContext)
{
    @this.ApplicationTemplate(this.ApplicationContext);
}
